@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

$primary-font: 'Ubuntu Mono', monospace;
$body-bg: $primary-bg;
@mixin btn-shadow2 {
  box-shadow: 1px 1px 3px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $border0;
}

::-webkit-scrollbar-thumb {
  background: $border1;
}

::-webkit-scrollbar-thumb:hover {
  background: $body-bg;
}
h1 {
  font-size: 48px;
  font-weight: 200;
  color: $border0;
  padding: 10px;
  margin: auto;
}
p {
  color: $text-color1;
}
body {
  background-color: $body-bg;
  font-family: $primary-font;
  font-size: 20px;
}
.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 4;
}
.stickyFooter {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0px;
  z-index: 2;
}
.ExtraFoot {
  position: sticky;
  z-index: 1;
  bottom: 100px;
}
.stickySettings {
  position: sticky;
  position: -webkit-sticky;
  padding: 1%;
  bottom: 60px;
  z-index: 2;
}
.NavigationBar {
  width: 100%;
  background-color: $secondary-bg;
  background-image: url('../assets/DaowabungaCircleLogo.png');
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: left;
  border-bottom: 3px solid $innerbg0;
  @include box-shadow1;
  @media (min-width: 300px) {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 90px;
  }
  @media (min-width: 768px) {
    text-align: center;
    display: block;
  }
  a {
    text-decoration: none !important;
  }
  h1 {
    font-weight: 600;
    text-transform: capitalize;
    color: $border1;
    @media (min-width: 300px) {
      font-size: 48px;
      padding: 10px;
      display: block;
      width: 100%;
      text-align: right;
    }
    @media (min-width: 768px) {
      font-size: 36px;
      padding: 2px;
      text-align: center;
    }
  }

  .burger {
    margin-left: auto;
    margin-right: 20px;
    button {
      background-color: inherit;
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      height: fit-content;
      border: 0.5px solid $border0;
      color: $border1;

      @media (min-width: 768px) {
        display: none;
      }
    }
  }
  .dropDown {
    position: absolute;
    top: 75px;
    width: 90%;
    right: 10px;
    background-color: $secondary-bg;
    border: 1px solid $border1;
    border-radius: 7.5px;
    @include box-shadow1;
    @media (min-width: 768px) {
      display: none;
    }
    .flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
  .flex {
    @media (min-width: 300px) {
      display: none;
    }
    @media (min-width: 768px) {
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .buttonRow {
      margin-bottom: 5px;
      @media (min-width: 300px) {
        display: none;
      }
      @media (min-width: 768px) {
        display: flex;
        flex-wrap: nowrap;
        width: 75%;
        justify-content: space-around;
        padding: 0px;
      }
    }
  }
}
.colorSwitchButtons {
  display: flex;
  width: 100px;
  align-items: center;
  @media (min-width: 300px) {
    background-color: $secondary-bg;
  }
  @media (min-width: 768px) {
    background-color: $button1;
  }
  border-radius: 15px;
  .light {
    @include buttonAction;
    width: 100%;
    display: flex;
    justify-content: center;
    border-right: 0.25px solid grey;
    border-radius: 14px 0px 0px 14px;
    .active {
      color: $border1;
    }
    .inactive {
      opacity: 0.4;
      color: $border0;
    }
  }
  .dark {
    @include buttonAction;
    border-radius: 0px 14px 14px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-left: 0.25px solid grey;
    .active {
      color: $border1;
    }
    .inactive {
      opacity: 0.4;
      color: $border0;
    }
  }
}
.button1 {
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  padding: 5px;
  min-width: 65px !important;
  border: 2px solid $border0;
  background-color: $primary-bg;
  color: $border1 !important;
  @include buttonAction;
  @include btn-shadow1;
  @media (min-width: 300px) {
    border-radius: none;
    margin: 3px;
    width: 100%;
  }
  @media (min-width: 768px) {
    border-radius: 0px 0px 15px 15px;
    margin: 0px;
    border-top: none !important;
    width: fit-content;
  }
}
.websiteBody {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.sleekDesktop {
  @media (min-width: 300px) {
    display: none;
  }
  @media (min-width: 768px) {
    display: block;
    width: 10%;
    height: 100%;
  }
  @media (min-width: 1024px) {
    width: 15%;
  }
}
.sleekDesktopBody {
  @media (min-width: 300px) {
    display: block;
    background-color: $secondary-bg;
    width: 95%;
    height: 100%;
    padding: 15px;
    border-radius: 8px;
    @include box-shadow1;
    margin-top: 10px;
    z-index: 2;
    margin-bottom: 400px;
  }
  @media (min-width: 768px) {
    display: block;
    width: 80%;
    padding: 25px;
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 270px;
  }
  @media (min-width: 1024px) {
    width: 70%;
    padding: 35px;
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 230px;
  }
}
.SpaceAroundRowWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.SpaceAroundRowNoWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
}
.CenteredColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    display: block;
    width: 250px;
    height: auto;
  }
}
.CompanyLogoBlock {
  width: fit-content;
  height: auto;
  border-radius: 100%;
  padding: 2%;
  img {
    display: block;
    height: auto;
    @media (min-width: 300px) {
      width: 250px;
    }
    @media (min-width: 500px) {
      width: 350px;
    }
    @media (min-width: 1024px) {
      width: 450px;
    }
  }
}

.NewsBanner {
  display: flex;
  width: 100%;
  height: fit-content;
  z-index: 1;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 3px;
  border: 5px solid $border1;
  @include box-shadow2;
  background-color: $body-bg;
  border-radius: 15px;
  @media (min-width: 375px) {
    flex-direction: column;
  }
  @media (min-width: 768px) {
    flex-direction: row;
  }
  h1 {
    all: unset;
    font-size: 38px;
    color: $border0;
  }
  .TextContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 275px;
    padding: 15px;
    @media (min-width: 300px) {
      width: 100%;
    }
    @media (min-width: 768px) {
      width: 50%;
    }
    p {
      overflow: auto;
    }
  }
  .ImageContent {
    display: flex;
    width: 50%;
    justify-content: center;
    img {
      display: block;
      padding: 10px;
      height: auto;
      background-color: $hideondarkbg;
      border: 2px solid $hideondarkborder;
      border-radius: 15px;
      width: 100%;
      @include hideondarkshadow;
    }
  }
}
.OutterFoot {
  display: flex;
  flex-direction: column;
  position: absolute !important;
  bottom: 0;
  left: 15px;
  .WebFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;

    @media (min-width: 300px) {
      background-color: $secondary-bg;
      border-top: 3px solid $border0;
    }
    @media (min-width: 768px) {
      background-color: transparent;
      border-top: none;
    }
    img {
      display: none;
    }
    &:hover {
      z-index: 4;
      background-color: $secondary-bg;
      border-top: 3px solid $border0;
      @media (min-width: 768px) {
        background-size: 75px;
        background-position: right;
        background-repeat: no-repeat;
        background-image: url('../assets/DaowabungaCircleLogo.png');
      }
      img {
        display: block;
        width: 50px;
        height: 50px;
      }
    }
  }
}

.ColorModeSwitchDesktop {
  @media (min-width: 375px) {
    display: none;
  }
  @media (min-width: 768px) {
    display: block;
  }
}
.ColorModeSwitchMobile {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
  padding: 20px;
  @media (min-width: 768px) {
    display: none;
  }
}

.CardBasic {
  display: flex;
  background-color: $body-bg;
  border-radius: 10px;
  border: 5px double $border1;
  margin: 10px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  @include card-shadow;
  flex-direction: column;
  height: auto;
  @media (min-width: 300px) {
    width: 100%;
  }
  @media (min-width: 768px) {
    width: 45%;
  }
  @media (min-width: 1024px) {
    width: 27.5%;
  }
  .title {
    display: block;
    text-align: center;
    font-size: 32px;
    color: $title-color1;
  }
  .image {
    width: 90%;
    display: flex;
    justify-content: center;
    img {
      background-color: $hideondarkbg;
      border: 1px solid $hideondarkborder;
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $text-color1;
    width: 100%;
    min-height: 0px;
    max-height: 150px;
    overflow: auto;
    padding: 1%;
  }
  .foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $hideondarkbg;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    width: 100%;
    min-height: 0;
    padding: 10px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
}
.MainButton {
  display: flex;
  justify-content: center;
  text-align: center;
  color: $text-color1 !important;
  background-color: $secondary-bg;
  border: 3px solid $border0;
  border-radius: 15px;
  @include buttonAction;
  @include btn-shadow2;
  a {
    all: unset;
    color: $text-color1;
  }
  &:hover {
    border: 4px solid $border1;
  }
  @media (min-width: 300px) {
    width: 100%;
    font-size: 30px;
  }
  @media (min-width: 768px) {
    width: 100%;
    font-size: 36px;
  }
}
.RoadMap {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;
  margin: auto;
  .leftMap {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    .content {
      h1 {
        text-align: center;
        color: $title-color1;
        font-size: 28px;
      }
      p {
        margin: 0;
        color: $text-color1;

        padding: 0;
        font-size: 16px;
        line-height: 16px;
      }
      padding: 10px;
      background-color: $body-bg;
      border: 3px double $border0;
      @include box-shadow1;
      @media (min-width: 300px) {
        text-align: left;
        width: 100%;
      }
      @media (min-width: 768px) {
        width: unset;
        min-width: 55%;
        max-width: 70%;
        text-align: right;
      }
    }
  }
  .rightMap {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    .content {
      h1 {
        font-size: 28px;
        text-align: center;
        color: $title-color1;
      }
      p {
        margin: 0;
        color: $text-color1;

        padding: 0;
        font-size: 16px;
        line-height: 16px;
      }
      padding: 10px;
      margin: 5px;
      @include box-shadow1;

      background-color: $body-bg;
      border: 3px double $border1;
      @media (min-width: 300px) {
        width: 100%;
      }
      @media (min-width: 768px) {
        width: unset;
        min-width: 55%;
        max-width: 70%;
      }
    }
  }
}
.TeamMemberCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 300px) {
    width: 150px;
    padding: 3px;
    margin: auto;
  }
  @media (min-width: 768px) {
    width: 225px;
    padding: 5px;
  }
  @media (min-width: 1024px) {
    width: 280px;
    padding: 7px;
  }
  .image {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3px;
    margin: auto;
    img {
      border: 8px double $border1;
      border-radius: 100%;
      min-width: 100%;
      max-width: 100%;
    }
  }
  h1 {
    font-size: 26px;
    color: $title-color1 !important;
    margin-top: 10px;
    text-align: center;
    width: 100%;
    display: block;
    border-radius: 15px 15px 0px 0px;
    background-color: $body-bg;
    margin-bottom: 0;
    border: 3px double $border1;
    border-bottom: unset;
  }
  .bio {
    display: flex;
    justify-content: center;
    background-color: $body-bg;
    border-radius: 0px 0px 15px 15px;
    padding: 15px;
    align-items: center;
    border: 3px double $border0;
    border-top: unset;
    p {
      display: block;
      margin: auto;
      color: $text-color1;
      background-color: $secondary-bg;
      padding: 4px;
      border: 1px solid $border1;
      border-radius: 20px;
    }
  }
}

.TKGBodyWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  @include linearbg;
  .TKGBody {
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url('../assets/shapes.png');
  }
}

.TKGBanner {
  display: flex;
  @include vice-linearbg;
  width: 75%;
  height: auto;
  padding: 15px;
  margin: auto;
  border: 10px solid $border0;
  border-radius: 30px;
  justify-content: center;
}
.FixedInnerFoot {
  position: fixed;
  bottom: 80px;
}
.ImgBlock {
  img {
    display: block;
    width: 150px !important;
    height: 150px !important;
  }
}
