$primary-bg: #cfb784;
$body-bg: $primary-bg;

@import '~bootstrap/scss/bootstrap.scss';

$secondary-bg: #eadeb8;
$border0: #a09f57;
$border1: #c56824;
$innerbg0: #e09055;
$innerbg1: #d8742a;
$innerbg2: #af5d20;
$text-color1: #040302;
$title-color1: $text-color1;
$hideondarkbg: $secondary-bg;
$hideondarkborder: $border1;
$button1: beige;
@mixin box-shadow1 {
  box-shadow: 2px 1px 12px;
}
@mixin box-shadow2 {
  color: $border1;
  box-shadow: 2px 3px 18px;
  &:hover {
    box-shadow: 2px 3px 20px;
  }
}
@mixin buttonAction {
  cursor: pointer;
  &:hover {
    background-color: $secondary-bg;
  }
  &:active {
    background-color: $primary-bg;
  }
}
@mixin hideondarkshadow {
  box-shadow: 2px 3px 18px;
}
@mixin card-shadow {
  box-shadow: 2px 3px 8px;
  color: $border1;
}
@mixin btn-shadow1 {
  box-shadow: 3px -2px 12px;
  color: $primary-bg;
  &:hover {
    box-shadow: 3px -2px 14px;
  }
}
:root[data-theme='theme-light'] {
  @import './site.scss';
}
